# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# IDE
.cproject
.project
*.sublime*

# Mac OS X
.DS_Store

# Build Directory
work/
!**/work/
